@import url(<link rel="preconnect"href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">);

body{
    align-items: center;
}
.tabela, th, td{
    border: 1px solid;
    width: 20%;
    margin: 10px auto;
    text-align: center;
}

.the{
    border: 1px solid;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.objetos, .detalhes{
    border: 1px solid;
    width: 20%;
    margin: 10px auto;
    text-align: center;
    ;
}